# strings

- strings
    - group of characters 
    - popular data type
    - like arrays used to store similar or unicode data
    - either single quotes or double qoutes

In [1]:
# syntax
msg ='python program'
msg

'python program'

In [2]:
len(msg)

14

In [3]:
msg[14] = 's'

TypeError: 'str' object does not support item assignment

- retreive values by using indexing
    - positive indexing
        - starts from left side of string and it starts from zero
    - negative indexing
        - starts from right side of string and it starts from -1
- slicing
    - syntax
        - startindex:endindex:stepvalue

In [4]:
msg[0]

'p'

In [5]:
msg[-1]

'm'

In [8]:
msg[0:6:1] #Slicing 
# In default stepvalue wil be '1'

'python'

In [10]:
msg[0:6]

'python'

In [12]:
# negative indexing

msg[-1:-6:-1]  #print reverse

'margo'

In [13]:
msg[:2]

'py'

In [14]:
msg[::1]

'python program'

In [17]:
msg[0:]

'python program'

In [23]:
#string reverse using negative indexing

msg[::-1]

'margorp nohtyp'

In [30]:
msg[-14:-1:]

'python progra'

In [24]:
msg[-1:-10:1] # using both indexing  gives null string

''

- Operations
    - concatenation
    - repetetion

In [32]:
# Concatenation
a='su'
b='go'
l=a+b
l

'sugo'

In [36]:
#repetetion
a='su'
b='go'
l=a+b
l * 10 # * is used to repeat

'sugosugosugosugosugosugosugosugosugosugo'

In [37]:
# membership operators
data='welcome'
if 'come' in data:
    print('yes')
else:
    print('no')

yes

In [38]:
print(dir(str),end= ' ')

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [41]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [45]:
# capitalize -first letter gets capital

msg.capitalize()

'Python program'

In [46]:
#title - first letter in every word get capital

msg.title()

'Python Program'

In [48]:
#casefold - used to change  strings from upper case to lower case

v='GOVARDHAN'
v.casefold()

'govardhan'

In [49]:
v1='govardhan'
v1.casefold()

'govardhan'

In [50]:
v2='GoVarDhan'
v2.casefold()

'govardhan'

In [51]:
ls

 Volume in drive C is OS
 Volume Serial Number is F841-E3DC

 Directory of C:\Users\vardh\Desktop\Python Programming\Python_Programming

07/18/2020  02:51 PM    <DIR>          .
07/18/2020  02:51 PM    <DIR>          ..
07/18/2020  02:14 PM    <DIR>          .ipynb_checkpoints
07/13/2020  04:49 PM            25,879 13-07-2020.ipynb
07/14/2020  03:43 PM            12,761 14-07-2020.ipynb
07/16/2020  03:37 PM             7,518 16-07-2020.ipynb
07/17/2020  03:54 PM            17,682 17-07-2020 _functions.ipynb
07/18/2020  02:51 PM            13,150 18-07-2020_strings.ipynb
               5 File(s)         76,990 bytes
               3 Dir(s)  189,447,720,960 bytes free

In [52]:
pwd

'C:\\Users\\vardh\\Desktop\\Python Programming\\Python_Programming'

In [53]:
# swapcase - change from lower to upper case or vice versa

v1.swapcase()

'GOVARDHAN'

In [54]:
v2.swapcase()

'gOvARdHAN'

In [7]:
# center - writes center words of the string
msg1='govardhana'
msg1.center(9,'*')

'govardhana'

In [6]:
# count  -writes how many times repeats a letter
msg1.count('a')

2

In [8]:
#encode - to encode the given string

msg1.encode(encoding='ascii',errors='ignore')

b'govardhana'

In [25]:
mg='gova'
mg.encode(encoding='utf-16',errors='ignore')

b'\xff\xfeg\x00o\x00v\x00a\x00'

In [28]:
mg1='§®©℗'
mg1.encode()

b'\xc2\xa7\xc2\xae\xc2\xa9\xe2\x84\x97'

In [33]:
# endswith - writes either true of false
ms='vardhan'
ms.endswith('a')

False

In [34]:
ms='vardhan'
ms.endswith('n')

True

In [35]:
# expand tabs  -\t syntax for tab
r='govardhan  \tsu'
r.expandtabs()

'govardhan       su'

In [42]:
r1='su \t go'
r1.expandtabs(tabsize=2)

'su   go'

In [43]:
# find - finds the position of character in the string
r.find('g')

0

In [44]:
r.find('n')

8

In [45]:
r.find('y') #if character is not in the string it defaultly writes '-1'

-1

In [52]:
#format

print('welcome Mr.{r1} on {date}'.format(r1='sugo',date='10-12-2020'))

welcome Mr.sugo on 10-12-2020

In [51]:
# Example palindrome

def palin(g):
    if g == g[::-1]:
        print("palindrome")
    else:
        print("not palindrome")
g = input("Enter name:")
palin(g)

Enter name:sir
not

In [54]:
# isalnum -write true if it posses both alphabets and numbers
x ='gOv1210'
x.isalnum()

True

In [55]:
# isaplha -write true if it posses alphabets and writes false if it contains numbers spaces special characters

x1='abcde'
x1.isalpha()

True

In [56]:

x1='abcde1'
x1.isalpha()

False

In [58]:
print(dir(str),end =' ')

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

# -----------------------------------------------------------------------------------------------------

- isdecimal
    - only 0-9
- isdigit
    - 0-9
    - subscripts and superscripts
- isnumeric
    - 0-9
    - roman numbers
    - numericals
    - currency

In [59]:
# isdecimal
x2="govar1210"
x2.isdecimal()

False

In [60]:
x2="1210"
x2.isdecimal()

True

In [62]:
# example using above things

num='12345'
print(num.isdecimal())
print(num.isdigit())
print(num.isnumeric())

True
True
True

In [64]:
num='123452²'
print(num.isdecimal())
print(num.isdigit())
print(num.isnumeric())

False
True
True

In [69]:
# istitle
msg='Govardhan'
msg.istitle()

True

In [70]:
msg='govardhan'
msg.istitle()

False

In [72]:
# join - joins the strings between letters


msg1="govardhan"
'su'.join(msg1)

'gsuosuvsuasursudsuhsuasun'

In [73]:
# isprintable
h='go \n' 
h.isprintable()

False

In [74]:
# isspace

h2="g o g"
h2.isspace()

False

In [75]:
#split
w="hi govardhan"
w.split(' ')

['hi', 'govardhan']

In [76]:
#example for split

w1="hi # govardha # su"
w1.split('#')

['hi ', ' govardha ', ' su']

In [77]:
# partition
w1="hi # govardha # su"
w1.partition('#')

('hi ', '#', ' govardha # su')

In [80]:
# rstrip & lstrip - removes the spaces 

r="          go"
r.lstrip()

'go'